.middle {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(33, 150, 243);
    background: linear-gradient(165deg, rgba(33, 150, 243, 1) 33%, rgba(106, 207, 252, 1) 50%, rgba(106, 207, 252, 1) 55%);
}

.construction {
    width: 60%;
    height: auto;
}
