.open-sans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
