.body-title {
    text-align:center;
    width:100%;
    font-size: 1.5em;
}

.form-table {
    width:30%;
    border: 0px solid black;
}

.centered{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.list-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    width: 80%;
}

.list-table th, .list-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.custom-modal {
    margin-top: 100px;
}

